<nb-card>
  <nb-card-header>Revenue SKU</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsProductSku" [source]="sourceProductSku"> </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Revenue Product Code</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsProductCode" [source]="sourceProductCode"> </ng2-smart-table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>Revenue Product Design</nb-card-header>
  <nb-card-body>
    <ng2-smart-table [settings]="settingsProductDesign" [source]="sourceProductDesign"> </ng2-smart-table>
  </nb-card-body>
</nb-card>
