<div class="row" *ngIf="config">
    <div *ngFor="let image of images; index as i" class="col-md-3 col-sm-6">
        <ngp-image-picker
            [_imageSrc]="image.src"
            [_config]="config"
            ($imageChanged)="onImageChanged($event, i)"
        ></ngp-image-picker>
    </div>
    <div class="col-md-3 col-sm-6">
        <ngp-image-picker #newPicker
            [_config]="config"
            ($imageChanged)="onImageChanged($event, images.length)"
        ></ngp-image-picker>
    </div>
</div>