<ngx-statistic-filter></ngx-statistic-filter>
<ngx-statistic-summary
    *ngIf="statistic.summary"
    [chartData]="statistic.summary.chartData"
    [totalSales]="statistic.summary.totalSales"></ngx-statistic-summary>
<ngx-statistic-fee [chartData]="statistic.fee"></ngx-statistic-fee>
<ngx-statistic-product-type [chartData]="statistic.productType"></ngx-statistic-product-type>
<ngx-statistic-seller
    *ngIf="statistic.seller"
    [chartData]="statistic.seller.chartData"
    [orderCount]="statistic.seller.orderCount"></ngx-statistic-seller>
<ngx-statistic-product-design [data]="statistic.productDesign"></ngx-statistic-product-design>
<ngx-statistic-supplier
    *ngIf="statistic.supplier"
    [chartData]="statistic.supplier.chartData"
    [totalBaseCost]="statistic.supplier.totalBaseCost"></ngx-statistic-supplier>
